/* .search-container {
    width: 300px;
    margin: 40px auto;
    padding: 20px 40px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: aqua;
  }
  
#search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}
  
#search-button {
    background-color: cadetblue;
    color: #fff;
    padding: 10px 100px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 50px;
    
  }
  
#search-button:hover {
    background-color: #3e8e41;
}
  
#search-result {
    padding: 20px;
    font-size: 20px;
    color: black;

} */